/* navbar */
.navbar-default {
    background-color: #EBFFE0;
    border-color: #EBFFE0;
}
/* Link */
.navbar-default .navbar-nav > li > a {
	color: #3eed0e;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #449D44;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #3eed0e;
    background-color: #449D44;
}
body{
	background: #d7ffbf;
}
input, select{
	font-weight: bold;
}
div.alert.alert-danger, div.alert.alert-success{
	margin-top: 2em;
	border: 0.3em solid;
}

.btn.btn-default, .form-control{
	background: #ebffe0;
}
.btn{
	font-weight: bold;
}
<<<<<<< HEAD
<<<<<<< HEAD
.row-person{
<<<<<<< HEAD
	margin-right: 1em;
	margin-bottom: 2em;
=======
	margin-bottom: 1em;
>>>>>>> 02a971a942a22eaf4195385a2041e17856a37941
}
=======

>>>>>>> parent of dfd6e21... responsive with block buttons
=======

>>>>>>> parent of dfd6e21... responsive with block buttons
#imagepreview{
	margin: auto;
	display: block;
}
.smallimage{
	max-width: 100px;
	max-height: 100px;
	width: 100px;
	height: 100px;
	border-radius: 3em;
}
div.list-group-item-text.row{
	margin-bottom: 0.4em;
}
li{
	list-style-type: none;
}
<<<<<<< HEAD
ul{
	margin-left: -2em;
}

.ul-person{
	margin-left: 2em;
}
.modal-content{
	background: #d7ffbf;
=======
.ul-person{
	margin-left: 3em;
}
.modal-content{
	background: #d7ffbf;
}
.modal-image { /* Width */
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}
.modal-body{
	text-align: center;
}
#showBigImage{
	text-align: center;
}
p{
	margin-bottom: 0.15em;
>>>>>>> 02a971a942a22eaf4195385a2041e17856a37941
}